.knowhow-item {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.knowhow-item + .knowhow-item {
  margin-left: 36px;
}

.knowhow-item__icon {
  width: 100%;
  max-width: 150px;
  margin-bottom: 24px;
}

.knowhow-item__info {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  color: #4a4a4a;
}

.knowhow-item__title {
  font-family: var(--font-family-nexa-heavy);
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 12px;
  color: #222;
}
